@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="sidebar pe-2 pb-1">
    <nav class="navbar bg-light navbar-light">
        <a href="/Admin/Home" class="navbar-brand mx-2 mb-2">
            <h5 class="text-primary">Filo Kiralama Admin Paneli</h5>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                @* <img class="rounded-circle" src="/dashmin/img/user.jpg" alt="" style="width: 40px; height: 40px;"> *@
                @* <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div> *@
            </div>
            @* <div class="row">
                <div class="col-1 form-group">
                    <h5>Filo Kiralama Admin Paneli</h5>
                </div>
            </div> *@
        </div>
        <div class="navbar-nav w-80">
            @* <a href="/Admin/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Ana Sayfa</a> *@
            <a href="/Admin/Home" class="nav-item nav-link">Ana Sayfa</a>
            <a href="/Default/Index" class="nav-item nav-link">Siteye Git</a>
            <a href="/Car/Index" class="nav-item nav-link">Araçlar</a>
            <a href="/Car/CreateCar" class="nav-item nav-link">Araç Ekle</a>
            <a href="/Insurance/CreateInsurance" class="nav-item nav-link">Sigorta Ekle</a>
            <a href="/Insurance/Index" class="nav-item nav-link">Sigortalar</a>
            <a href="/SecondHandSales/Index" class="nav-item nav-link">İkinci El Satış</a>
            <a href="/SecondHandPricing/Index" class="nav-item nav-link">İkinci El Fiyatlama</a>
            <a href="/SecondHandAppointment/Index" class="nav-item nav-link">İkinci El Randevuları</a>
            <a href="/RentalCarPricing/Index" class="nav-item nav-link">Kiralık Araç Fiyatlama</a>
            <a href="/RentalCarReserved/Index" class="nav-item nav-link">Kiralık Araç Rezerveler</a>
            <a href="/DailyRentalCars/Index" class="nav-item nav-link">Günlük Kiralanan Araçlar</a>
            <a href="/FleetRentalRequest/Index" class="nav-item nav-link">Filo Kiralama Talepleri</a>
            <a href="/FleetOffer/Index" class="nav-item nav-link">Filo Kiralama Teklifleri</a>
            <a href="/FleetRental/Index" class="nav-item nav-link">Filo Kiralanan Araçlar</a>
            <a href="/CarImage/Index" class="nav-item nav-link">Araç Görseli Tanımla</a>
            <a href="/CarReturn/Index" class="nav-item nav-link">Kiradan Araç Döndürme</a>
            <a href="/CarStatus/Index" class="nav-item nav-link">Dönen Araç Statü Değişimi</a>
            <a href="/Users/Index" class="nav-item nav-link">Üyeler</a>
            <a href="/Users/CreateUser" class="nav-item nav-link">Üye veya Kullanıcı Ekle</a>
            <a href="/Statistics/Index" class="nav-item nav-link">İstatistikler</a>
            <a href="" class="nav-item nav-link">Dashboard</a>

        </div>
    </nav>
</div>